<div id="carouselLanches" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/images/carrocel/between-burger-buns.jpg" class="d-block w-100" alt="hamburger duplo">
    </div>
    <div class="carousel-item">
      <img src="~/images/carrocel/front-burger-and-fries.jpg" class="d-block w-100" alt="hamburger com batata fritas">
    </div>
    <div class="carousel-item">
      <img src="~/images/carrocel/sandwich-toast-salad.jpg" class="d-block w-100" alt="hamburger com tomates">
    </div>
  </div>
  <p>Images by<a href="https://br.freepik.com/" target="_blank">Freepik</a> </p>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselLanches" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselLanches" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>